@page "/account/changePassword"
@using System.ComponentModel.DataAnnotations
@inject AppService AppService
@inject NotificationService NotificationService
@attribute [Authorize]

<PageTitle>Change Password</PageTitle>

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1">Change Password</RadzenText>

<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 600px">
    <div class="rz-login">
        <RadzenTemplateForm TItem="ChangePasswordModel" Data=@model Submit=@OnSubmit>
            <div class="rz-form-row">
                <RadzenLabel Text="Old Password" Component="OldPassword" />
                <div class="rz-form-input-wrapper">
                    <RadzenPassword id="OldPassword" Name="OldPassword" @bind-Value=@model.OldPassword />
                    <RadzenRequiredValidator Component="OldPassword" Text="Old Password is required" />
                </div>
            </div>
            <div class="rz-form-row">
                <RadzenLabel Text="New Password" Component="NewPassword" />
                <div class="rz-form-input-wrapper">
                    <RadzenPassword id="NewPassword" Name="NewPassword" @bind-Value=@model.NewPassword />
                    <RadzenRequiredValidator Component="NewPassword" Text="New Password is required" />
                </div>
            </div>
            <div class="rz-form-row">
                <RadzenLabel Text="Confirm New Password" Component="ConfirmNewPassword" />
                <div class="rz-form-input-wrapper">
                    <RadzenPassword id="ConfirmNewPassword" Name="ConfirmNewPassword" @bind-Value=@model.ConfirmNewPassword />
                    <RadzenRequiredValidator Component="ConfirmNewPassword" Text="Confirm New Password is required" />
                    <RadzenCompareValidator Value=@model.NewPassword Component="ConfirmNewPassword" Text="Confirm New Password and New Password must match" />
                </div>
            </div>
            <div class="rz-form-row">
                <RadzenLabel Text="" />
                <div class="rz-form-input-wrapper rz-login-buttons">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text="Change Password" />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>
</RadzenCard>

@code {
    private ChangePasswordModel model = new();

    private async Task OnSubmit()
    {
        try
        {
            await AppService.ChangePasswordAsync(model.OldPassword!, model.NewPassword!);

            model = new();

            NotificationMessage successMessage = new()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Password Changed",
                Duration = 4000,
            };

            NotificationService.Notify(successMessage);
        }
        catch (Exception ex)
        {
            NotificationMessage message = new()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Change Password Failed",
                Detail = ex.Message,
                Duration = 4000,
            };

            NotificationService.Notify(message);
        }
    }

    private class ChangePasswordModel
    {
        public string? OldPassword { get; set; }

        public string? NewPassword { get; set; }

        public string? ConfirmNewPassword { get; set; }
    }
}
